[Unit]
Description=PubSub Exec
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/pubsub-exec -cmd=/usr/local/bin/_remote-callback -log-target SYSLOG
Restart=on-failure

[Install]
WantedBy=multi-user.target
